html body{
    padding: 0;
    margin: 0;
    display: grid;
    background-color: #deb777;
}

img{
    display: flex;
    flex-direction: row;  
    height: 80%;
    width: 100%;
}

.welcome{
    text-align: center;
}

.firstlist{
    margin-top: -1.2%;
}

button{
    background-color: #deb777;
}