html body{
    padding: 0;
    margin: 0;
    display: grid;
   /* background-color: #deb777; */
}

img{
    display: flex;
    flex-direction: row;  
    height: 80%;
    width: 100%;
}

h3{
    font-size: larger;
}
.bottomright{
    height: 80px;
    width: 80px;
    position: relative;
    bottom: 0%;
    right: 0%;
}

.welcome{
    text-align: center;
}

.firstlist{
    margin-top: -1.2%;
}

button{
    background-color: #deb777;
    align-items: center;
}

.rules{
    line-height: 4;
    padding-right: 15px;
    padding-left: 15px;
    font-size: larger;
}

.clues{
    text-align: center;
    font-size: xx-large;
}

.recharge{
    width: 80%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    
}